<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>白と黒</title>
		<link rel="stylesheet" href="/content/css/blackmarisa.css" type="text/css"/>
		<script src="/lib/jquery-1.8.0.js" type="text/javascript"></script>
		<script type='text/javascript' src='/lib/knockout-3.3.0.js'></script>
		<script src="/lib/sliderPhoto.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container" id="mainContainer">
			<div class="middle clearfix" style="width: 1500px;">
				<div class="float span2" style="height: 100px; ">
					<a class="homeTitle" href="/">SHIRO</a>
				</div>
				<div class="float span8" style="height: 100px;">
					<ul class="navBanner">
						<li id="nav01">
							<a href="/draw_home">
								<span class="title">絵画クラブ</span>
								<span class="subTitle">Draw club</span>
							</a>
						</li>
						<li id="nav02">
							<a href="/acg_home">
								<span class="title">ゲーム＆アニメ</span>
								<span class="subTitle">Game & Anime</span>
							</a>
						</li>
						<li id="nav03">
							<a href="/cg_home">
								<span class="title">CGグループ</span>
								<span class="subTitle">CG group</span>
							</a>
						</li>
						<li id="nav04">
							<a href="/blog_home">
								<span class="title">ブログ</span>
								<span class="subTitle">Blog</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="middle contentContainer" style="width: 1500px;">
				<div class="middle clearfix">
					<div class="articleBox miniBox" data-bind="html: htmlText"></div>
				</div>
			</div>
		</div>
	</body>
	<script src="/viewmodels/draw_home.js" type="text/javascript"></script>
	<script>
		$("#nav01").addClass("active");
	</script>
</html>